In [11]:
import pandas as pd

df = pd.read_csv('search_results_2.csv')

In [12]:
df.head()

,author,record_count,record_enumerated,viaf_title_list,birthdate,title_list
0,['C. F. Williamson'],1,0,[],1860,NaN
1,['David Halliburton'],4,0,['America : the diary of a visit winter 1884-1...,1950,NaN
2,['David Halliburton'],4,1,"['Budget speech, 1961:', 'eBay website, IMS Vi...",1921-08-22,NaN
3,['David Halliburton'],4,2,"['Faces of Hope, c1997:']",0,NaN
4,['David Halliburton'],4,3,[],0,NaN

In [13]:
len(df)

72721

In [14]:
#reassociate S2 metadata with each author name

#read in the full dataset
# Load the metadata TSV file into a DataFrame
file_path = '\\Users\\bscag\\novelty\\becca\\LitMetadataWithS2 (3).tsv'

import pandas as pd
meta = pd.read_csv(file_path, sep='\t')
import requests

In [15]:

#normalize the text
import re

def normalize_text(text):
    """
    Normalize the text by converting to lowercase, preserving commas and spaces,
    and removing unnecessary special characters.
    """
    try:
        text = str(text)
        text = text.lower()  # Convert to lowercase
        text = re.sub(r'\s+', ' ', text)  # Replace multiple spaces with a single space
        text = re.sub(r'[^\w\s,]', '', text)  # Remove all characters except alphanumeric, spaces, and commas
        return text.strip()  # Trim leading and trailing spaces
    except:
        return ''
# df['normalized_author'] = df['author'].apply(normalize_text)
df['normalized_author'] = ""

for idx, row in df.iterrows():
    text = row['author']
    normalized_text = normalize_text(text)
    df.at[idx,'normalized_author'] = normalized_text

In [17]:
meta['author'] = meta['authors']

In [18]:
from ast import literal_eval 

rows = []
for index, row in meta.iterrows():
    author = row['author']
    author = normalize_text(author)
    # author = literal_eval(author)
    if ',' in author:
        author_list = author.split(',')
        # author_list = literal_eval(author_list)
        for author in author_list:
            new_row = {
             'author': author,
            'journal': row['journal'],
            'year': row['year'],
            'title': row['title'],
            'S2titles': row['S2titles'],
            'S2Years': row['S2years'],
            
        }
        rows.append(new_row)
    else:
        row_orig = {     
            'author': row['author'],
            'journal': row['journal'],
            'year': row['year'],
            'title': row['title'],
            'S2titles': row['S2titles'],
            'S2Years': row['S2years'],
            
        }
        rows.append(row_orig)

In [4]:
#this was the list of unique authors we used in our VIAF search
unique_author_names = []

for author_name in df['author']:
    if author_name not in unique_author_names:
        unique_author_names.append(author_name)

In [47]:
S2_data_dict = {}

for author_name in unique_author_names:
    for row in rows:
        if author_name == row['author']:
            S2_data_dict[author_name] = S2_row

In [51]:
for key, value in S2_data_dict.items():
    print(key, value)
    break

KeyError: 1

In [31]:
# df['S2_data'] = df['author'].map(S2_data_dict[author]['title_list'])

KeyError: 'l h c thomas'

In [30]:
# S2_data_dict['title_list']

KeyError: 'title_list'

In [50]:
df

,author,record_count,record_enumerated,viaf_title_list,birthdate,title_list,normalized_author,S2_data,S2_titlelist
0,['C. F. Williamson'],1,0,[],1860,NaN,c f williamson,author record_count r...,72720 The Subversive Discourse of the Wife ...
1,['David Halliburton'],4,0,['America : the diary of a visit winter 1884-1...,1950,NaN,david halliburton,author record_count r...,72720 The Subversive Discourse of the Wife ...
2,['David Halliburton'],4,1,"['Budget speech, 1961:', 'eBay website, IMS Vi...",1921-08-22,NaN,david halliburton,author record_count r...,72720 The Subversive Discourse of the Wife ...
3,['David Halliburton'],4,2,"['Faces of Hope, c1997:']",0,NaN,david halliburton,author record_count r...,72720 The Subversive Discourse of the Wife ...
4,['David Halliburton'],4,3,[],0,NaN,david halliburton,author record_count r...,72720 The Subversive Discourse of the Wife ...
...,...,...,...,...,...,...,...,...,...
72716,['John T. Matthews'],3,0,['Anxious souls will ask... : the Christ-cente...,1950-03-21,The Marriage of Speaking and Hearing in Absalo...,john t matthews,author record_count r...,72720 The Subversive Discourse of the Wife ...
72717,['John T. Matthews'],3,1,"['Anxious souls will ask--, 2005:', 'Bonhoeffe...",1949-11-19,The Marriage of Speaking and Hearing in Absalo...,john t matthews,author record_count r...,72720 The Subversive Discourse of the Wife ...
72718,['John T. Matthews'],3,2,[],0,The Marriage of Speaking and Hearing in Absalo...,john t matthews,author record_count r...,72720 The Subversive Discourse of the Wife ...
72719,['Melissa J. Homestead'],1,0,['American women authors and literary property...,1963-04-13,NaN,melissa j homestead,author record_count r...,72720 The Subversive Discourse of the Wife ...
72720,['Barrie Ruth Straus'],1,0,"['The Catholic Church, c1986:']",0,The Subversive Discourse of the Wife of Bath: ...,barrie ruth straus,author record_count r...,72720 The Subversive Discourse of the Wife ...

In [46]:
for author in unique_author_names[:2]:
    title_list = S2_data_dict[author]['title_list']
    print(author, title_list)

['C. F. Williamson'] 72720    The Subversive Discourse of the Wife of Bath: ...
Name: title_list, dtype: object
['David Halliburton'] 72720    The Subversive Discourse of the Wife of Bath: ...
Name: title_list, dtype: object

In [42]:
def is_author_in_dict(author, dict):
    if author in dict.keys():
        return True



df['S2_titlelist'] = ""
for idx, row in df.iterrows():
    author = row['author']
    if is_author_in_dict(author, S2_data_dict):
        df.at[idx, 'S2_titlelist'] = S2_data_dict[author]['title_list']
    else:
        continue

In [43]:
df

,author,record_count,record_enumerated,viaf_title_list,birthdate,title_list,normalized_author,S2_data,S2_titlelist
0,['C. F. Williamson'],1,0,[],1860,NaN,c f williamson,author record_count r...,72720 The Subversive Discourse of the Wife ...
1,['David Halliburton'],4,0,['America : the diary of a visit winter 1884-1...,1950,NaN,david halliburton,author record_count r...,72720 The Subversive Discourse of the Wife ...
2,['David Halliburton'],4,1,"['Budget speech, 1961:', 'eBay website, IMS Vi...",1921-08-22,NaN,david halliburton,author record_count r...,72720 The Subversive Discourse of the Wife ...
3,['David Halliburton'],4,2,"['Faces of Hope, c1997:']",0,NaN,david halliburton,author record_count r...,72720 The Subversive Discourse of the Wife ...
4,['David Halliburton'],4,3,[],0,NaN,david halliburton,author record_count r...,72720 The Subversive Discourse of the Wife ...
...,...,...,...,...,...,...,...,...,...
72716,['John T. Matthews'],3,0,['Anxious souls will ask... : the Christ-cente...,1950-03-21,The Marriage of Speaking and Hearing in Absalo...,john t matthews,author record_count r...,72720 The Subversive Discourse of the Wife ...
72717,['John T. Matthews'],3,1,"['Anxious souls will ask--, 2005:', 'Bonhoeffe...",1949-11-19,The Marriage of Speaking and Hearing in Absalo...,john t matthews,author record_count r...,72720 The Subversive Discourse of the Wife ...
72718,['John T. Matthews'],3,2,[],0,The Marriage of Speaking and Hearing in Absalo...,john t matthews,author record_count r...,72720 The Subversive Discourse of the Wife ...
72719,['Melissa J. Homestead'],1,0,['American women authors and literary property...,1963-04-13,NaN,melissa j homestead,author record_count r...,72720 The Subversive Discourse of the Wife ...
72720,['Barrie Ruth Straus'],1,0,"['The Catholic Church, c1986:']",0,The Subversive Discourse of the Wife of Bath: ...,barrie ruth straus,author record_count r...,72720 The Subversive Discourse of the Wife ...