In [2]:
import pandas as pd

df = pd.read_csv('df_with_predictions.csv')
results_df = pd.read_csv('results_df_with_predictions.csv')

results_df_t = pd.read_csv('df_training_with_label_proba.csv')

In [3]:
results_df_t.loc[results_df_t['VIAF_birthdate'] == 1950]

,Unnamed: 0,VIAF_titlelist,author,S2_titlelist,status,pub_age,avg_pubdate,VIAF_birthdate,overlapping_words,word_overlap_count,lemma_overlap,overlapping_lemmas,cosine_matches,sim_scores,Class_0_Proba,Class_1_Proba,True_Label
7,7,"['Alpen', ""Cassell's Deutsch-Englisches, Engli...",h t betteridge,"[""Klopstock's Correspondence with Albrecht von...",0,16.0,1963.0,1950,"[':', 'letters', 'briefe.']",3,2,"{'klopstock', 'Briefe'}",0.0,0,0.80,0.20,0
11,11,['Democracias en vilo : la incertidumbre polí...,carlos monsiváis,[],2,NaN,0.0,1950,[],0,0,set(),NaN,NaN,0.95,0.05,0
18,18,"['Dickens and race', 'Orphan texts Victorian o...",laura peters,[nan],2,66.0,0.0,1950,[],0,0,set(),NaN,NaN,0.99,0.01,0
32,32,['Bibelübersetzung und Heilsgeschichte : Stud...,nigel f palmer,"[nan, 'Handschriften und Fruhdrucke mittelhoch...",2,35.0,0.0,1950,"['studien', 'des', 'literatur', 'zur', 'deutsc...",12,13,"{'Studien', 'Handschriften', 'des', 'Mittelalt...",0.0,0,0.71,0.29,0
33,33,"['Minor creatures : persons, animals, and the ...",ivan kreilkamp,['Imagining Inclusive Society in Nineteenth‐Ce...,0,54.0,2006.0,1950,[],0,0,set(),NaN,NaN,0.70,0.30,1
34,34,"[""The abolitionist sisterhood : women's politi...",john van horne,['The Influence of Conservatism on the Art of ...,2,-31.0,0.0,1950,[],0,0,set(),NaN,NaN,0.93,0.07,0
39,39,"['Art of Geoff Dyer', ""Australian melodramas :...",frank pierce,['Torcimany de Luis de Averco. Tratado retoric...,2,22.0,0.0,1950,"['la', 'oxford', 'literary', 'en', ':', 'milit...",6,5,"{'la', 'en', 'Oxford', 'Thomas', 'history'}",0.0,0,0.96,0.04,0
40,40,"['Antonio Gual, un escritor barroco', 'Comenta...",frank pierce,['Torcimany de Luis de Averco. Tratado retoric...,2,22.0,0.0,1950,"['del', 'oro', 'la', 'un', 'antonio', 'en', ':...",10,14,"{'del', 'la', 'Oro', 'un', 'y', 'XVI', 'El', '...",0.0,0,0.72,0.28,0
51,51,"['Alienation and freedom', 'Art Treasures of T...",derek attridge,"['English prosody from Chaucer to Wyatt', 'Vis...",2,40.0,0.0,1950,"['english', 'two']",2,1,{'english'},0.0,0,0.83,0.17,0
60,60,"['The bay of love and sorrows : [a novel]', 'B...",david adams,"[nan, nan, 'Confiscations at Customs: banned b...",2,60.0,0.0,1950,[],0,0,set(),NaN,NaN,0.99,0.01,0
66,66,"['The 1965 Montreal, Canada apartment house ex...",david adams,"[nan, nan, 'Confiscations at Customs: banned b...",2,60.0,0.0,1950,[],0,0,set(),NaN,NaN,0.98,0.02,0
139,139,['Adrenergic blood pressure regulation : proce...,j h alexander,"['Secret Leaves: The Novels of Walter Scott', ...",0,34.0,1985.0,1950,['essays'],1,1,{'essay'},0.0,0,0.94,0.06,0
142,142,['De aantrekkelijke stad : katalysator voor ec...,j h alexander,"['Secret Leaves: The Novels of Walter Scott', ...",0,34.0,1985.0,1950,[],0,0,set(),NaN,NaN,0.96,0.04,0
156,156,['The art of accommodation : literary translat...,leon burnett,['Russische Erzählung = Russian short story = ...,2,33.0,0.0,1950,[':'],1,1,{'literature'},0.0,0,0.42,0.58,0
173,173,['Ancrene wisse : from pastoral literature to ...,cate gunn,[nan],2,65.0,0.0,1950,[],0,0,set(),NaN,NaN,0.82,0.18,0
195,195,"['Bajazet', 'Ballet de la raillerie', 'Ballet ...",marieclaude canovagreen,['Molière and Modernity: Absent Mothers and Ma...,0,53.0,2005.0,1950,"['theatre', 'la', 'xviie', 'au', 'les', 'seven...",15,16,"{'la', 'Le', 'au', 'les', 'Pierre', 'roi', 'Fr...",0.0,0,0.61,0.39,1
257,257,['Between Law and Lawlessness : democratizing ...,j c maxwell,"[nan, 'DUNCIAD IV. 121–2', 'Arnold Bennett - A...",2,7.0,0.0,1950,"[':', 'lost']",2,0,set(),0.0,0,1.00,0.00,0
258,258,['Contract law in south africa'],j c maxwell,"[nan, 'DUNCIAD IV. 121–2', 'Arnold Bennett - A...",2,7.0,0.0,1950,[],0,0,set(),NaN,NaN,0.97,0.03,0
310,310,"[""Autour de Bernardin de Saint-Pierre : les é...",robin howells,"[""L'Utopie narrative en France et en Angleterr...",2,49.0,0.0,1950,"['infantile', 'enlightenment', 'de', 'nouvelle...",26,31,"{'review', 'Pierre', 'Voltaire', 'Charles', 'H...",5.0,"[0.04078919455257933, 0.0, 0.05689519901328642...",0.03,0.97,1
350,350,"['17 classic songs of love : 2.', ""ALABAMA'69""...",peter france,['Reappraisals of Rousseau Studies in Honour o...,0,35.0,1982.0,1950,"[':', 'art']",2,1,{'art'},0.0,0,0.95,0.05,0
397,397,"[""Beef, Brétillot-Valette, Matali Grasset, Pa...",andrew rothwell,"['Noël, Nonoléon, Jabès: Anagrams and Palindro...",2,50.0,0.0,1950,"['la', 'identity', 'qui', 'poetry', 'avant-gar...",13,12,"{'Raquin', 'identity', 'qui', 'Pierre', 'et', ...",0.0,0,0.08,0.92,1
445,445,['Absolute beginners : electronic drums the co...,henry bradley,"['""Treson"" in the Anglo-Saxon Chronicle', 'Som...",2,-37.0,0.0,1950,[],0,1,{'work'},NaN,NaN,0.86,0.14,0
487,487,['Cervantes\'s novel of modern times a new rea...,david quint,"[nan, 'Expectation and Prematurity in Milton\'...",2,46.0,0.0,1950,[],0,0,set(),NaN,NaN,0.85,0.15,1
508,508,['Book production and letters in the Western E...,john took,"[nan, 'Dante : the critical heritage', 'Leopar...",2,48.0,0.0,1950,"['critical', ':', 'comedy', 'dante']",4,4,"{'critical', 'essay', 'Dante', 'Comedy'}",2.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.13,0.87,1
521,521,"['Het cahier Virginia Woolf', 'Culture wars in...",thomas c caramagno,"[nan, ""Manic-Depressive Psychosis and Critical...",2,41.0,0.0,1950,"['virginia', ""woolf's""]",2,2,"{'Woolf', 'Virginia'}",0.0,0,0.37,0.63,1
526,526,"['Freund von Heine, Marx/Engels und Lincoln ei...",marianne hirsch,"[""Editor's Column: On the Way to the Forum"", ""...",2,64.0,0.0,1950,[],0,0,set(),NaN,NaN,0.87,0.13,0
528,528,['Arms versus letters : the military and liter...,james j supple,['Montaigne propriétaire foncier : inventaire ...,0,42.0,1999.0,1950,"['la', 'montaigne', 'les', 'actes', 'des', 'et...",11,11,"{'la', 'des', 'et', '28', 'Les', 'Essais', 'du...",0.0,0,0.07,0.93,1
538,538,"['African Derbidae (Homoptera, Fulgoroidea): t...",r m wilson,"['The Proverbs of Alfred. II', nan, 'A Middle ...",3,13.0,1956.0,1950,"['middle', 'r.', 'proceedings', ':', 'old', 'n...",6,4,"{'Middle', 'proceeding', 'new', 'R.'}",0.0,0,0.90,0.10,0
562,562,"[""Art's work in the age of biotechnology : sha...",william myers,"[nan, 'This particular web : essays on Middlem...",2,28.0,0.0,1950,[':'],1,0,set(),0.0,0,0.86,0.14,0
614,614,"['Afterglow : Vik Muniz : pictures of ruins', ...",richard mckeon,['Arts of Invention and Arts of Memory: Creati...,2,4.0,0.0,1950,"['philosophy', 'science', 'renaissance', 'art']",4,1,{'Art'},0.0,0,0.86,0.14,0
615,615,"['On knowing : the social sciences', 'Suicidal...",richard mckeon,['Arts of Invention and Arts of Memory: Creati...,2,4.0,0.0,1950,[],0,0,set(),NaN,NaN,0.93,0.07,0
617,617,"[""The beggar's opera and other eighteenth-cent...",david w lindsay,"[nan, nan, nan, nan]",2,45.0,0.0,1950,[],0,0,set(),NaN,NaN,0.59,0.41,0
622,622,"['Between the acts', 'Modernism keywords', 'Vi...",melba cuddykeane,"[nan, ""The Politics of Comic Modes in Virginia...",2,40.0,0.0,1950,['virginia'],1,3,"{'Woolf', 'act', 'Virginia'}",0.0,0,0.19,0.81,1
630,630,"['The insistence of history, 1996:']",geraldine friedman,"[nan, 'History in the Background of Wordsworth...",2,60.0,0.0,1950,[],0,1,{'history'},NaN,NaN,0.46,0.54,0
640,640,"['Adorno.', 'Deconstruction and democracy Derr...",peter thomson,"[nan, nan, 'Charles Kemble, man of the theatre...",2,36.0,0.0,1950,[],0,0,set(),NaN,NaN,0.95,0.05,1
679,679,"['Bisexuality in the Ancient world', 'Dante an...",cormac ó cuilleanáin,"[nan, 'Man and Beast in the ""Decameron""', ""Adv...",2,43.0,0.0,1950,"[""boccaccio's""]",1,2,"{'Boccaccio', 'Decameron'}",0.0,0,0.23,0.77,1
680,680,"['Châtiments', 'Corneille, 1963.', 'La devine...",p j yarrow,"[""Voltaire's 'Commentaires sur Corneille'"", 'C...",0,21.0,1977.0,1950,"['la', 'literature', 'et', 'century', 'french'...",8,4,"{'La', 'et', 'Corneille', 'de'}",0.0,0,0.42,0.58,0
682,682,"['100 soruda Osmanlı-Türkiye iktisadı̂ tar., ...",orhan pamuk,['Babamm bavulu'],2,57.0,0.0,1950,[],0,0,set(),NaN,NaN,0.34,0.66,0
684,684,"['Art and jazz since 1920', 'Kunst und Jazz se...",anne anlin cheng,"['Shine: On Race, Glamour, and the Modern']",2,61.0,0.0,1950,['race'],1,0,set(),0.0,0,0.41,0.59,0
685,685,"['Algeria & [and] France, 1800-2000 identity, ...",patricia m e lorcin,[nan],2,66.0,0.0,1950,[],0,0,set(),NaN,NaN,0.51,0.49,0
748,748,"['1984 Roman', 'Abenteuer des Sherlock Holmes'...",jorge luis borges,"['Post-Lecture Discussion of His Own Writing',...",2,25.0,0.0,1950,[],0,0,set(),NaN,NaN,0.29,0.71,0
772,772,"[""Cartografías de la Argentina de los '90 : c...",mirta alejandra antonelli,[],2,NaN,0.0,1950,[],0,0,set(),NaN,NaN,0.48,0.52,0
774,774,"[""Hero's quest"", 'Mixed up fairy tales [CF], 1...",lori cole,[],2,NaN,0.0,1950,[],0,0,set(),NaN,NaN,0.48,0.52,1
777,777,['Contract law in south africa'],catherine maxwell,"[nan, ""Victorian Women Poets: Writing against ...",2,48.0,0.0,1950,[],0,0,set(),NaN,NaN,0.26,0.74,0
801,801,"['Aboriginal sites of the Albert Valley, south...",david shaw,"[nan, 'Cyrano de Bergerac, OEuvres completes. ...",2,48.0,0.0,1950,[':'],1,0,set(),0.0,0,0.29,0.71,0

In [12]:
len(results_df)

64874

In [26]:
new_df = results_df.loc[results_df['author'] == 'joseph f jackson']

In [27]:
new_df

,Unnamed: 0.1,VIAF_titlelist,author,S2_titlelist,status,pub_age,avg_pubdate,VIAF_birthdate,overlapping_words,word_overlap_count,...,lemma_overlap.1,word_overlap_count.1,Jaccard_Distance,exact_matches,exact_match_count,cosine_distance,sim_scores_mean,predictions,probability_class_0,probability_class_1
49181,49181,"[""Contes en l'air, c1929:"", 'Histoire de Gil B...",joseph f jackson,"['Bonald and Balzac', 'Balzac and Sainte-Beuve']",0,42.0,1929.0,1887.0,[],0,...,0,0,NaN,NaN,NaN,0.491291,0.0,1,0.19,0.81
49182,49182,['Power and gender relations in the television...,joseph f jackson,"['Bonald and Balzac', 'Balzac and Sainte-Beuve']",0,-37.0,1929.0,1966.0,[],0,...,0,0,NaN,NaN,NaN,0.814231,0.0,0,0.51,0.49

In [5]:
# df = pd.read_csv('all_data_get_features_asCSV.csv')

In [6]:
# df_2 = pd.read_csv('processed_search_results_VIAF_S2_Oct_all_data.csv')

In [7]:
df.head()

,Unnamed: 0.1,Unnamed: 0,record_enumerated,record_count,pub_age,status,avg_pubdate,birth2maxdate,birth2mindate,abs_birth2maxdate,...,lemma_overlap,word_overlap_count,Jaccard_Distance,exact_matches,exact_match_count,cosine_distance,sim_scores_mean,predictions,probability_class_0,probability_class_1
0,0,0,0,1,109.0,0,1969.333333,123.0,97.0,123.0,...,0,0,NaN,NaN,NaN,0.871143,0.0,0,0.82,0.18
1,1,1,0,4,-1950.0,0,0.000000,0.0,0.0,0.0,...,0,0,NaN,NaN,NaN,1.013839,0.0,0,0.81,0.19
2,2,2,1,4,-1921.0,0,0.000000,0.0,0.0,0.0,...,0,0,NaN,NaN,NaN,0.804021,0.0,0,0.85,0.15
3,3,3,2,4,0.0,0,0.000000,0.0,0.0,0.0,...,0,0,NaN,NaN,NaN,0.770158,0.0,0,0.84,0.16
4,4,4,3,4,0.0,0,0.000000,0.0,0.0,0.0,...,0,0,NaN,NaN,NaN,0.499953,0.0,0,0.80,0.20

In [8]:
results_df.head()

,Unnamed: 0.1,VIAF_titlelist,author,S2_titlelist,status,pub_age,avg_pubdate,VIAF_birthdate,overlapping_words,word_overlap_count,...,lemma_overlap.1,word_overlap_count.1,Jaccard_Distance,exact_matches,exact_match_count,cosine_distance,sim_scores_mean,predictions,probability_class_0,probability_class_1
0,0,[],c f williamson,"[nan, nan, nan, nan, 'Two Notes on the Poems o...",0,109.0,1969.333333,1860.0,[],0,...,0,0,NaN,NaN,NaN,0.871143,0.0,0,0.82,0.18
1,1,['America : the diary of a visit winter 1884-1...,david halliburton,[nan],0,-1950.0,0.000000,1950.0,[],0,...,0,0,NaN,NaN,NaN,1.013839,0.0,0,0.81,0.19
2,2,"['Budget speech, 1961:', 'eBay website, IMS Vi...",david halliburton,[nan],0,-1921.0,0.000000,NaN,[],0,...,0,0,NaN,NaN,NaN,0.804021,0.0,0,0.85,0.15
3,3,"['Faces of Hope, c1997:']",david halliburton,[nan],0,0.0,0.000000,0.0,[],0,...,0,0,NaN,NaN,NaN,0.770158,0.0,0,0.84,0.16
4,4,[],david halliburton,[nan],0,0.0,0.000000,0.0,[],0,...,0,0,NaN,NaN,NaN,0.499953,0.0,0,0.80,0.20

In [9]:
# df_2.head()

In [10]:
df.loc[df['predictions'] == 1]

,Unnamed: 0.1,Unnamed: 0,record_enumerated,record_count,pub_age,status,avg_pubdate,birth2maxdate,birth2mindate,abs_birth2maxdate,...,lemma_overlap,word_overlap_count,Jaccard_Distance,exact_matches,exact_match_count,cosine_distance,sim_scores_mean,predictions,probability_class_0,probability_class_1
8,8,8,3,10,40.0,0,1946.937500,54.0,34.0,54.0,...,11,16,1.0,NaN,NaN,0.430848,0.000000,1,0.49,0.51
36,36,36,0,1,64.0,0,2014.666667,66.0,63.0,66.0,...,2,3,1.0,NaN,NaN,0.204481,0.000000,1,0.29,0.71
62,62,62,0,1,53.0,0,1986.428571,69.0,43.0,69.0,...,16,15,1.0,NaN,NaN,0.354050,2.722614,1,0.08,0.92
85,85,85,0,6,47.0,0,1918.000000,74.0,32.0,74.0,...,7,4,1.0,NaN,NaN,0.395361,3.867299,1,0.22,0.78
98,98,98,0,1,39.0,0,2006.333333,45.0,33.0,45.0,...,2,1,1.0,NaN,NaN,0.398698,0.000000,1,0.38,0.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64827,64827,64827,0,1,-2018.0,0,0.000000,0.0,0.0,0.0,...,0,0,NaN,NaN,NaN,0.499953,0.000000,1,0.33,0.67
64855,64855,64855,0,2,-1943.0,0,0.000000,0.0,0.0,0.0,...,0,0,NaN,NaN,NaN,0.985368,0.000000,1,0.49,0.51
64856,64856,64856,1,2,-1943.0,0,0.000000,0.0,0.0,0.0,...,0,0,NaN,NaN,NaN,0.903763,0.000000,1,0.46,0.54
64858,64858,64858,0,1,46.0,0,2005.000000,46.0,46.0,46.0,...,0,0,NaN,NaN,NaN,0.624063,0.000000,1,0.40,0.60
64859,64859,64859,0,1,53.0,0,1997.000000,53.0,53.0,53.0,...,0,0,NaN,NaN,NaN,0.620622,0.000000,1,0.31,0.69

In [11]:
df_2.loc[df_2['birth2maxdate'].notnull()]

#why are all of these the same for birth2min and birth2max?

NameError: name 'df_2' is not defined

In [79]:
df.loc[df['Jaccard_Distance'].notnull()]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, record_enumerated, record_count, pub_age, status, avg_pubdate, birth2maxdate, birth2mindate, abs_birth2maxdate, abs_birth2mindate, publication_age, negative_status, title_count, author_length, VIAF_birthdate, lemma_overlap, word_overlap_count, Jaccard_Distance, exact_matches, exact_match_count, cosine_distance, predictions]
Index: []

[0 rows x 23 columns]

In [80]:
df.loc[(df['Jaccard_Distance'] != 1.0) & (df['Jaccard_Distance'].notnull())]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, record_enumerated, record_count, pub_age, status, avg_pubdate, birth2maxdate, birth2mindate, abs_birth2maxdate, abs_birth2mindate, publication_age, negative_status, title_count, author_length, VIAF_birthdate, lemma_overlap, word_overlap_count, Jaccard_Distance, exact_matches, exact_match_count, cosine_distance, predictions]
Index: []

[0 rows x 23 columns]

In [81]:
# df.loc[(df['cosine_matches'].notnull()) and df['sim_score'].notnull()]

df.loc[(df['cosine_matches'] != 0) & (df['cosine_matches'].notnull())]

KeyError: 'cosine_matches'

In [ ]:
# df['perfect_match'] = ""
# 
# for idx, row in df.iterrows():
#     sim_scores = row['sim_scores']
#     for sim_score in sim_scores:
#         if sim_score == 1.0:
#             perfect_match.append
#

In [44]:
df_minmax_test = df_2.loc[df_2['birth2maxdate'] != df_2['birth2mindate']]
df_minmax_test.loc[df['birth2mindate'].notnull()]

#issue to check out...

Empty DataFrame
Columns: [author, record_count, record_enumerated, viaf_title_list, birthdate, S2_titlelist, S2_pubdates, S2_Year, VIAF_birthdate, VIAF_titlelist, avg_pubdate, birth2maxdate, birth2mindate, abs_birth2maxdate, abs_birth2mindate, publication_age, pub_age]
Index: []

In [18]:
results_df.head()

,Unnamed: 0.1,VIAF_titlelist,author,S2_titlelist,status,pub_age,avg_pubdate,VIAF_birthdate,overlapping_words,word_overlap_count,...,title_count,author_length,VIAF_birthdate.1,lemma_overlap.1,word_overlap_count.1,Jaccard_Distance,exact_matches,exact_match_count,cosine_distance,predictions
0,0,[],c f williamson,"[nan, nan, nan, nan, 'Two Notes on the Poems o...",0,NaN,0.0,1860.0,[],0,...,14,14,1860.0,0,0,NaN,NaN,NaN,0.871143,0
1,1,['America : the diary of a visit winter 1884-1...,david halliburton,[nan],0,NaN,0.0,1950.0,[],0,...,1,17,1950.0,0,0,NaN,NaN,NaN,1.013839,0
2,2,"['Budget speech, 1961:', 'eBay website, IMS Vi...",david halliburton,[nan],2,-1921.0,0.0,NaN,[],0,...,1,17,NaN,0,0,NaN,NaN,NaN,0.804021,0
3,3,"['Faces of Hope, c1997:']",david halliburton,[nan],0,NaN,0.0,0.0,[],0,...,1,17,0.0,0,0,NaN,NaN,NaN,0.770158,0
4,4,[],david halliburton,[nan],0,NaN,0.0,0.0,[],0,...,1,17,0.0,0,0,NaN,NaN,NaN,0.499953,0

In [19]:
results_df.loc[results_df['predictions'] == 1]

,Unnamed: 0.1,VIAF_titlelist,author,S2_titlelist,status,pub_age,avg_pubdate,VIAF_birthdate,overlapping_words,word_overlap_count,...,title_count,author_length,VIAF_birthdate.1,lemma_overlap.1,word_overlap_count.1,Jaccard_Distance,exact_matches,exact_match_count,cosine_distance,predictions
36,36,['Cultural narratives textuality and performan...,sandra m gustafson,['Reimagining the Literature of the Modern Rep...,0,NaN,0.0,1950.0,"['american', 'early', 'literature']",3,...,3,18,1950.0,2,3,NaN,NaN,NaN,0.204481,1
62,62,"['Anthropologie und Literatur um 1800', 'Bisma...",eda sagarra,['Literature of Peasant Life in Eighteenth-Cen...,2,-1933.0,0.0,NaN,"['im', 'history', 'literatur', 'formen', 'theo...",15,...,11,11,NaN,16,15,NaN,NaN,NaN,0.354050,1
85,85,"[""Chaucer's complete works"", ""A comprehensive ...",f n robinson,"['A Note on the Sources of the Old Saxon ""Gene...",2,-1871.0,0.0,NaN,"['irish', 'variant', '""ballad', 'gaelic']",4,...,3,12,NaN,7,4,NaN,NaN,NaN,0.395361,1
98,98,"['After Marx, 2022:', 'After Marx : literature...",christopher nealon,"[nan, 'Value | Theory | Crisis', 'Invert-Histo...",2,-1967.0,0.0,NaN,['lesbian'],1,...,4,18,NaN,2,1,NaN,NaN,NaN,0.398698,1
100,100,"['Aphorismen - Sudeleien - Stichelreden', 'Auf...",franz h mautner,"['Lichtenbergs Anfänge in Ihren Wesenszügen', ...",0,39.0,1941.0,NaN,"['nach', 'auf', 'der', 'reise']",4,...,2,15,NaN,7,4,NaN,NaN,NaN,0.428922,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64855,64855,"['Acts of narrative', 'The dissimulating harmo...",carol jacobs,[nan],0,NaN,0.0,1943.0,[],0,...,1,12,1943.0,0,0,NaN,NaN,NaN,0.985368,1
64856,64856,['The dissimulating harmony : the image of Int...,carol jacobs,[nan],0,NaN,0.0,1943.0,[],0,...,1,12,1943.0,0,0,NaN,NaN,NaN,0.903763,1
64857,64857,['Chess in Iceland and in Icelandic literature...,horatio s white,['Extract from a Communication by Horatio S. W...,0,NaN,0.0,1852.0,[],0,...,1,15,1852.0,0,0,NaN,NaN,NaN,0.664055,1
64858,64858,['Feminisms : an anthology of literary theory ...,diane price herndl,['Disease versus Disability: The Medical Human...,0,NaN,0.0,1959.0,[],0,...,1,18,1959.0,0,0,NaN,NaN,NaN,0.624063,1
64859,64859,['Alliteration and sound change in early Engli...,donka minkova,['The Credibility of Pseudo-Alfred: Prosodic I...,0,NaN,0.0,NaN,[],0,...,1,13,NaN,0,0,NaN,NaN,NaN,0.620622,1